# Node / Next.js
node_modules/
.next/
.turbo/
.vercel/

# Env
.env
.env.local
.env.development
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Prisma
prisma/dev.db
prisma/dev.db-journal

# OS
.DS_Store
Thumbs.db

.vercel
